[submodule "Models/Status/Status_v2/Hardened/hamr/microkit/components/cpuSw_wifiDriver_wifiDriver/libvmm"]
	path = Models/Status/Status_v2/Hardened/hamr/microkit/components/cpuSw_wifiDriver_wifiDriver/libvmm
	url = https://github.com/au-ts/libvmm
