<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="soar"
			id="com.collins.trustedmethods.matrics.soar.Soar"
			name="Soar Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="com.collins.trustedmethods.matrics.soar.Soar.validate">
			<activeWhen>
				<reference
					definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="com.collins.trustedmethods.matrics.soar.Soar"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="com.collins.trustedmethods.matrics.soar.Soar.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="com.collins.trustedmethods.matrics.soar.Soar"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.collins.trustedmethods.matrics.soar.Soar"
			name="Soar">
			<keywordReference id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"/>
		</page>
		<page
			category="com.collins.trustedmethods.matrics.soar.Soar"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="com.collins.trustedmethods.matrics.soar.Soar.coloring"
			name="Syntax Coloring">
			<keywordReference id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"/>
		</page>
		<page
			category="com.collins.trustedmethods.matrics.soar.Soar"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="com.collins.trustedmethods.matrics.soar.Soar.templates"
			name="Templates">
			<keywordReference id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="com.collins.trustedmethods.matrics.soar.Soar"
			name="Soar">
			<keywordReference id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"
			label="Soar"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="com.collins.trustedmethods.matrics.soar.Soar.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="com.collins.trustedmethods.matrics.soar.Soar.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="soar"
			id="com.collins.trustedmethods.matrics.soar.Soar.contenttype"
			name="Soar File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="soar">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="soar">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for com.collins.trustedmethods.matrics.soar.Soar -->
	<extension
			id="soar.check.fast"
			name="Soar Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="soar.check.normal"
			name="Soar Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="soar.check.expensive"
			name="Soar Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for com.collins.trustedmethods.matrics.soar.Soar -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="com.collins.trustedmethods.matrics.soar.ui.soar.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="com.collins.trustedmethods.matrics.soar.ui.soar.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="com.collins.trustedmethods.matrics.soar.ui.soar.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="com.collins.trustedmethods.matrics.soar.Soar.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="com.collins.trustedmethods.matrics.soar.Soar"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="com.collins.trustedmethods.matrics.soar.Soar.refactoring"
			name="Refactoring">
			<keywordReference id="com.collins.trustedmethods.matrics.soar.ui.keyword_Soar"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="com.collins.trustedmethods.matrics.soar.Soar.compare.contentViewers"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="soar">
		</viewer>
		<contentTypeBinding
			contentTypeId="com.collins.trustedmethods.matrics.soar.Soar.contenttype"
			contentViewerId="com.collins.trustedmethods.matrics.soar.Soar.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="com.collins.trustedmethods.matrics.soar.Soar.compare.contentMergeViewers"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="soar" label="Soar Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="com.collins.trustedmethods.matrics.soar.Soar.contenttype"
			contentMergeViewerId="com.collins.trustedmethods.matrics.soar.Soar.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="com.collins.trustedmethods.matrics.soar.Soar.editors.documentProviders"
			class="com.collins.trustedmethods.matrics.soar.ui.SoarExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="soar">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="soar"
			type="text">
		</fileTypes>
	</extension>
 <extension
       point="org.osate.annexsupport.unparser">
    <unparser
          annexName="soar"
          class="com.collins.trustedmethods.matrics.soar.ui.unparsing.SoarAnnexUnparser"
          id="com.collins.trustedmethods.matrics.soar.ui.soar.unparser">
    </unparser>
 </extension>
 <extension
       point="org.osate.annexsupport.parser">
    <parser
          annexName="soar"
          class="com.collins.trustedmethods.matrics.soar.ui.parsing.SoarAnnexParser"
          id="com.collins.trustedmethods.matrics.soar.ui.soar.parser">
    </parser>
 </extension>
</plugin>
